  <div class="container">
    <div class="row">
      <div class="w-60 my-5 d-flex justify-content-center">
        <%= simple_form_for [@post, @review] do |f| %>
          <%= f.input :content %>
          <%= f.submit "Submit review" %>
        <% end %>
      </div>
    </div>
  </div>
